body {
    font-family: serif;
    margin: 40px auto;
    padding: 0 20px;
    max-width: 800px;
    background-color: #fff;
    color: #000;
}

h1,
h2 {
    text-align: center;
}

.nav {
    text-align: center;
    margin-bottom: 30px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.semester {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

.toggle-link:hover {
    text-decoration: underline;
}

.toggle-link {
    color: blue;
    cursor: pointer;
}